*{
    padding: 0;
    margin: 0;
}

.wrapper{

    width: 100%;
    height: 100%;

}

.first-block{

    width: 100%;
    height: 100vh;
    background-image: url("img/norway-4230682_1920.jpg");
    background-repeat: no-repeat;
    background-position: center;

}

.second-block{
    width: 100%;
    height: 100vh;
    background-image: url("img/norway-4230680_1920.jpg");
    background-repeat: no-repeat;
    background-position: center;

}

.third-block{

    width: 100%;
    height: 100vh;
    background-image: url("img/fjord-4319792_1920.jpg");
    background-repeat: no-repeat;
    background-position: center;

}

.header-site{
    text-align: center;
    color: rgba(0, 0, 0, 0.9);
    box-sizing: border-box;
    padding: 40px 0 0 0 ;
}
.company-tagline{

    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 26px;
}

.header-text{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 56px;
    text-decoration: underline;


}
.for-animate{
    position: relative;
    bottom: 150px;
}
.about-norway-block{
    width: 100%;
}
.header-about-norway-tourism{
    margin-left: 25px;
    text-align: left;
    width: 35%;
    float: left;
    font-weight: normal;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    color: white;
    position: relative;
    right: 200px;
}

.about-attractions{
    margin-right: 25px;
    text-align: left;
    width: 30%;
    float: right;
    font-weight: normal;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    color: white;
    position: relative;
    left: 150px;
}




.second-block h3{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center ;
    font-size: 54px;
    box-sizing: border-box;
    padding-top: 40px;
}

.tourism-city{
    margin-left: 80px;
    margin-top: 40px;
    float: left;
    width: 40%;
}

.tourism-city h4{
    margin-bottom: 15px;
    font-size: 34px;
    color: black;
    font-family: 'Roboto', sans-serif;

}

.tourism-city ul{

    color: white;

}
.tourism-city ul li{
    font-family: 'Roboto', sans-serif;
    font-size: 26px;

}

.most-popular{
    margin-right: 80px;
    margin-top: 40px;
    float: right;
    width: 40%;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.most-popular h4{
    margin-bottom: 15px;
    font-size: 34px;
    color: black;
    font-family: 'Roboto', sans-serif;

}
.most-popular p {
    line-height: 24px;
    font-size: 20px;
}

.header-third{
    text-align: center;
    box-sizing: border-box;
    font-size: 44px;
    font-family: 'Roboto', sans-serif;
    padding-top: 55px;
    color: #ffffff;
}

.conteiner{

    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 10%;
    box-sizing: border-box;
    padding-top: 70px;
}

.conteiner div{

    height: 150px;
    width: 150px;

}
.conteiner div i{
    font-size: 80px;
    color: white;
}
.button button{
    margin-top: 40px;
    margin-left: 40%;
    width: 20%;
    height: 70px;
    font-family: 'Roboto', sans-serif;
}
button:hover{
    cursor: pointer;
}